  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <input id="chkCert" type="checkbox">
        <label for="gen_cert">Create Certificate</label>
      </div>
      <div class="col-md-6">&nbsp;</div>
    </div>

    <div id="certData">
      <div class="form-group">
          <p>Enter additional data for Certificate</p>
      </div>
      <div class="form-group">
        <label class="control-label" for="cert_Org">Organization:</label>
        <input type="text" class="form-control" id="cert_Org" />
      </div>

      <div class="form-group">
        <label class="control-label" for="cert_OrgUnit">Organizational Unit:</label>
        <input type="text" class="form-control" id="cert_OrgUnit" />
      </div>
      <div class="form-group">
        <label class="control-label" for="cert_City">City (Locality):</label>
        <input type="text" class="form-control" id="cert_City" />
      </div>
      <div class="form-group">
        <label class="control-label" for="cert_State">State:</label>
        <input type="text" class="form-control" id="cert_State" />
      </div>
      <div class="form-group">
        <label class="control-label" for="cert_Country">Country:</label>
        <input type="text" class="form-control" id="cert_Country" />
      </div>
      <div class="form-group">
        <label class="control-label" for="cert_pwd">Password for PKCS12 certificate :</label>
        <input type="password" class="form-control" id="cert_pwd" required />
      </div>
      <div class="form-group">
        <label class="control-label" for="cert_pwd1">Confirm Password:</label>
        <input type="password" class="form-control" id="cert_pwd1" required />
      </div>
<!--
Duration (Days)
Key Length: 2048(Medium) 4096(High Grade)
Cipher: SHA-2 256 bit (Medium); SHA-2 512 bit (Strong)
-->
    </div>
  </div>
