  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <label for="gen_cert">Create Certificate:</label>
        <input id="chkCert" type="checkbox">
      </div>
      <div class="col-md-6">&nbsp;</div>
    </div>

    <div class="form-group" id="certData">
      <div class="row">
        <div class="col-md-6">
          <p>Enter additional data for Certificate</p>
        </div>
        <div class="col-md-6">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="cert_Org">Organization:</label>
          <input type="text" class="form-control" id="cert_Org" />
        </div>
        <div class="col-md-6">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="cert_OrgUnit">Organizational Unit:</label>
          <input type="text" class="form-control" id="cert_OrgUnit" />
        </div>
        <div class="col-md-6">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="cert_City">City (Locality):</label>
          <input type="text" class="form-control" id="cert_City" />
        </div>
        <div class="col-md-6">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="cert_State">State:</label>
          <input type="text" class="form-control" id="cert_State" />
        </div>
        <div class="col-md-6">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="cert_Country">Country:</label>
          <input type="text" class="form-control" id="cert_Country" />
        </div>
        <div class="col-md-6">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="cert_pwd">Password for PKCS12 certificate :</label>
          <input type="password" class="form-control" id="cert_pwd" required />
        </div>
        <div class="col-md-6">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="cert_pwd1">Confirm Password:</label>
          <input type="password" class="form-control" id="cert_pwd1" required />
        </div>
        <div class="col-md-6">&nbsp;</div>
      </div>
<!--
Duration (Days)
Key Length: 2048(Medium) 4096(High Grade)
Cipher: SHA-2 256 bit (Medium); SHA-2 512 bit (Strong)
-->
    </div>
  </div>
