<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register</title>
  <link rel="stylesheet" href="/common/css/bootstrap.min.css">
  <link rel="stylesheet" href="/common/css/solid.css">

  <script src="/common/js/jquery.min.js"></script>
  <script src="/common/js/forge.min.js"></script>

</head>
<body>
<div class="container">

  <div class="page-header">
    <h1>Register</h1>
  </div>

  {{#if registerDisabled}}
    {{> account/register-disabled}}
  {{else}}
    {{#if authTls}}
      {{> account/register-form-tls}}
    {{else}}
      {{> account/register-form}}
    {{/if}}
 
    {{> account/register-script}}

  {{/if}}
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <br/>
      Ver: {{solidVersion}}
    </div>
  </div>
</div>
</body>
</html>
