<!-- Modal -->
<div class="modal fade" id="certModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 id="cert_progress" class="modal-title"> <img src="/common/css/throbber.gif" width="16" /> &nbsp;&nbsp; Generating certificate</h4>
        <div id="cert_ready">
          <h4 class="modal-title">Certificate was created</h4>
        </div>
      </div>
      <div class="modal-body">
        <div id="cert_wait">
         Wait...
        </div>
        <section id="p12-cert">
           <h5>PKCS12 Certificate</h5>
           <a id="pkcs12-download" download="certificate.p12">Download PKCS12</a>
           <br/>
           <h5>Please save certificate on local disk and click continue for register.</h5>
        </section>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button id="btn_continue" type="button" class="btn btn-primary">Continue</button>
      </div>
    </div>
  </div>
</div>


