<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <form method="post" id="reg-form" action="/api/accounts/new">
          {{> shared/error}}

          <div class="form-group">
            <label class="control-label" for="username">Username*</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="alice"
                   required/>

	    {{#if multiuser}}
	    <p>Your username should be a lower-case word with only
	    letters a-z and numbers 0-9 and without periods.</p>
	    <p>Your public Solid POD URL will be:
	    <tt>https://<span class="editable-username">alice</span>.<script type="text/javascript">
              document.write(window.location.host)
	    </script></tt></p>
	    <p>Your public WebID will be:
	    <tt>https://<span class="editable-username">alice</span>.<script type="text/javascript">
              document.write(window.location.host)
	    </script>/profile/card#me</tt></p>

            <p>Your <em>POD’s URL</em> identifies the homepage of your 
            Solid-based Personal Data Space. By default, it is readable 
            by the public, but 100% configurable by you i.e., you can 
            choose to make it private or only accessible to groups of users 
            via attribute-based access controls (data access policies).</p>

            <p>Your <em>WebID</em> is your globally unique name that you 
            can use to identify and authenticate yourself across any 
            HTTP-based network.</p>

	    {{/if}}

	  </div>

          <div class="form-group has-feedback">
            <label class="control-label" for="password">Password*</label>
            <input type="password" class="form-control control-progress" name="password" id="password" required/>
            <span class="glyphicon glyphicon-remove form-control-feedback hidden" aria-hidden="true"></span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="4"></div>
            </div>
            <div class="help-block"></div>
          </div>


          <div class="form-group has-feedback">
            <label class="control-label" for="repeat_password">Repeat password*</label>
            <input type="password" class="form-control" name="repeat_password" id="repeat_password" required/>
            <span class="glyphicon glyphicon-remove form-control-feedback hidden"></span>
          </div>


          <div class="form-group">
            <label class="control-label" for="name">Name*</label>
            <input type="text" class="form-control" name="name" id="name" required/>
          </div>

          <div class="form-group">
            <label class="control-label" for="email">Email*</label>
            <input type="email" class="form-control" name="email" id="email"/>
            <span class="help-block">Your email will only used for account recovery</span>
          </div>

          <div class="form-group">
            <label class="control-label" for="externalWebId">External WebID:</label>
            <input type="text" class="form-control" name="externalWebId" id="externalWebId" value="{{webid}}" />
            <button type="button" class="btn btn-primary" id="detect_webid">Detect WebID</button>
            <span class="help-block">
                We will generate a Web ID when you register, but if you already have a Web ID hosted elsewhere that you'd prefer to use to log in, enter it here
            </span>
          </div>

          {{#if enforceToc}}
            {{#if tocUri}}
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="acceptToc" value="true">
                  I agree to the <a href="{{tocUri}}" target="_blank">Terms &amp; Conditions</a> of this service
                </label>
              </div>
            {{/if}}
          {{/if}}

          <input type="hidden" name="returnToUrl" value="{{returnToUrl}}"/>
          <input type="hidden" name="certificatePEM" id="certificatePEM" value="" />
          <input type="hidden" name="certificatePKCS12" id="certificatePKCS12" value="" />

          {{> auth/auth-hidden-fields}}
        </form>
{{> account/register-certdata}}

      </div>
    </div>


  <div class="form-group">
      <div class="col-md-2">
        <button type="button" class="btn btn-primary" id="register">Register</button>
      </div>
  </div>

<!-- end_col -->
  </div>


  <div class="col-md-6">
    <div class="panel panel-default panel-already-registered">
      <div class="panel-body">
        <h2>Already have an account?</h2>
        <p>
          <a class="btn btn-lg btn-success" href="{{{loginUrl}}}">
            Please Log In
          </a>
        </p>
      </div>
    </div>
  </div>

{{> account/register-cert-popup}}

</div>

<script src="/common/js/owasp-password-strength-test.js" defer></script>
<script src="/common/js/text-encoder-lite.min.js" defer></script>
<script src="/common/js/solid.js" defer></script>


<script>
  var username = document.getElementById('username');
  username.onkeyup = function() {
    var list = document.getElementsByClassName('editable-username');
    for (let item of list) {
      item.innerHTML = username.value.toLowerCase()
    }
  }

  var button = document.getElementById('detect_webid');
  button.addEventListener('click', function () {
     fetch('/detect/webid',
          { method: 'GET', 
            headers: {
              'Accept': 'application/json; charset=utf-8'
            },
            credentials: 'include'
          })
        .then(function(response) {
          if (response.ok) {
            response.json().then((val)=> {
             var extWebid = document.getElementById('externalWebId');
             var name = document.getElementById('name');

             if (val.webid && val.webid.length > 1)
               extWebid.value = val.webid;
             if (val.name && val.name.length > 1 && name.value.length < 2)
               name.value = val.name;
            })
          }
        })
  });

</script>

